[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.0"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
django-rest-auth = "*"
django-allauth = "*"
django-rest-framework = "*"
requests = "*"
django-rest-allauth = "*"
psycopg2-binary = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
